/*
        ABOUT SECTION
*/

/*======================== aBOUT TEXT ========================*/

.about-container {
    padding-top: 3rem;
    display: grid;
}

.section-title {
    --aniamtoin-duration: 1s;
    color: var(--green);
    display: flex;
    gap: 0.3rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.animate__animated.animate__bounceIn {
    animation-duration: var(--aniamtoin-duration);
}

.letter-two {
    opacity: 0;
    scale: .8;
}

.section-title>div {
    display: flex;
}

.section-discription {
    transform: translateY(20px) scale(.9);
    opacity: 0;
}

.section-discription:not(:nth-of-type(1)) {
    line-height: 1.4;
    margin-bottom: 2rem;
}

.section-discription span {
    color: var(--green);
    cursor: pointer;
}

.about-img {
    background-image: url("../imgs/aboutt.jpg");
    background-repeat: none;
    background-size: cover;
    width: 188.15px;
    height: 179px;
    border-radius: 10px;
    place-self: center;
    margin-bottom: 1rem;
    position: relative;
    cursor: pointer;
    transition: .3s linear;
}

.about-img::after,
.about-img::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: #04b98f6b;
    border-radius: 10px;
    transition: .2s ease-in;
}


.about-img::after {
    background: none;
    border: 2px solid var(--green);
    transform: translatex(20px) translateY(20px);
    z-index: -1;
}

.about-img:hover::before {
    background: none;
}

.about-img:hover::after {
    transform: translatex(15px) translatey(15px);
}

.about-img::after {
    transform: translatex(20px) translateY(20px)
}

.show .section-discription.one {
    animation: show-disc .4s linear forwards .5s;
}

.show .section-discription.two {
    animation: show-disc .4s linear forwards .8s;
}