*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--navy);
    color: var(--slate);
    transition: .2s ease-in;
    height: 100%;
    line-height: 1.1;
}

.body-on-loading {
    transition: .4s ease-in;
    background-color: var(--dark-navy);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

h6,
p {
    font-size: var(--small-font-size);
    margin: 0px 0px 15px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: none;
    background-color: none;
    font-size: var(--body-font);
}

.container {
    /* max-width: 77px; */
    padding-inline: 1.5rem;
}

main {
    transition: .5s ease-in-out;
    scale: 1;
    opacity: 1;
    pointer-events: all;
}
/* 
main::before,
main::after {
    content: '<body>';
    font-family: var(--second-fontsize);
    color: var(--green);
    font-size: 1rem;
    position: absolute;
    margin-top: .5rem;
    margin-left: .45rem;
    scale: .3;
    opacity: 0;
}

main::after {
    content: '</body>';
    bottom: 0rem;
}

.tags::after,
.tags::before {
    animation: tags-animation .4s forwards linear 3s;
} */

.main-animation {
    scale: .5;
    opacity: 0;
    pointer-events: none;
}

section {
    margin: 4rem 0 5rem;
    height: 100vh;
}