*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--main-color);
    font-size: var(--normal-font-size);
    color: var(--second-white-color);
}

h1,
h2,
h3,
h4 {
    font-size: var(--big-font-size);
    /* color: ; */
}

h6,
p {
    font-size: var(--smaller-font-size);
    /* color: ; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

button {
    border: none;
    background-color: none;
    font-size: var(--body-font);
}

.container {
    /* max-width: 77px; */
    padding-inline: 1rem;
}

main {
    margin-top: 11rem;
    display: grid;
    transition: .5s ease-in-out;
    scale: 1;
    opacity: 1;
    pointer-events: all;
}

main::before,
main::after {
    content: '<body>';
    font-family: var(--second-fontsize);
    color: #515152;
    font-size: 1rem;
    position: absolute;
    /* margin-top: -5rem; */
    margin-left: .45rem;
    scale: .3;
    opacity: 0;
}

main::after {
    content: '</body>';
    margin-top: 65%;
}

.tags::after,
.tags::before {
    animation: tags-animation .4s forwards linear 2s;
}

.main-animation {
    scale: .5;
    opacity: 0;
    pointer-events: none;
}

section {
    margin-top: 4rem;
}