.nav-container {
    background-color: var(--main-color);
    padding: 1rem;
    display: grid;
    overflow: hidden;
    position: relative;
    /* display: none; */
}

.toggle {
    width: 40px;
    height: 40px;
    display: grid;
    gap: .4rem;
    justify-items: center;
    justify-self: end;
    cursor: pointer;
    transition: .3s ease;
    position: relative;
    scale: 0;
    transition: all .5s ease-in;
}

.toggle-on-loading {
    scale: 1;
}

.toggle .bars:nth-child(1)::before,
.toggle .bars:nth-child(3)::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: -.5px;
    background-color: var(--graish-color);
    transition: .4s ease;
}

.toggle:hover .bars:nth-child(1)::before,
.toggle:hover .bars:nth-child(3)::before {
    width: 100%;
    transition: .3s ease;
    border-radius: 15px;
}

.toggle .bars:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: -.5px;
    border-radius: 15px;
    background-color: var(--graish-color);
    transition: .4s ease;
}

.toggle:hover .bars:nth-child(2)::before {
    width: 100%;
    /* animation: middle-toggle .3s linear forwards; */
    transition: .3s ease;
}

.bars {
    width: 100%;
    height: 4px;
    border-radius: 15px;
    background-color: white;
    transform: rotate(-45deg);
    transition: 1s ease;
}

.bars:nth-child(1) {
    width: 20px;
    transform: rotate(-45deg) translate(-8px);
}

.bars:nth-child(2) {
    transform: rotateY(173deg) rotate(45deg);
}

.bars:nth-child(3) {
    width: 20px;
    transform: rotate(-45deg) translate(8px);
}


.toggle-out .bars:nth-child(1),
.toggle-out .bars:nth-child(3) {
    transform: rotate(-45deg) translateX(100px);
}

.toggle-out .bars:nth-child(2) {
    animation: middle-toggle-go .4s linear forwards;
}

.tra-container {
    display: grid;
    transform: rotate(-40deg) translateX(-100px) translateY(-65px);
}

.traingle {
    width: 250%;
    height: 220px;
    transition: .5s ease-in;
}

.colory {
    background-color: var(--yellow-color);
}

.traingle:nth-child(1) {
    transform: translateY(-280px);
}

.traingle:nth-child(2) {
    height: 0;
}

.tra-in .traingle {
    background-color: rgb(255, 255, 255);
}

.traingle:nth-child(3) {
    transform: translateY(380px);
}

.tra-in .traingle:nth-child(1) {
    transform: translateY(1px);
}

.tra-in .traingle:nth-child(2) {
    height: 220px;
}

.tra-in .traingle:nth-child(3) {
    transform: translateY(-1px);
}

.toggle-two {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    width: 40px;
    height: 40px;
    display: grid;
    gap: 0.5rem;
    cursor: pointer;
    z-index: -1;
    transition: .4s ease-in;
}

.toggle-two:hover .bars-two {
    background-color: var(--graish-dark-color);
}

.bars-two {
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    transform: translateY(-5px) rotate(-45deg) translateX(80px);
    border-radius: 15px;
    transition: 1.45s ease;
}

.bars-two:nth-child(1) {
    transform: rotate(45deg) translateY(14px) translateX(-80px);
}

.tra-in .toggle-two {
    z-index: 10;
}

.tra-in .bars-two {
    transform: translateY(-5px) rotate(-45deg);
}

.tra-in .bars-two:nth-child(1) {
    transform: rotate(45deg) translateY(14px) translateX(13px);
}

.nav-menu {
    position: absolute;
    top: 25%;
    left: 30%;
    transform: translate(-50%);
    display: grid;
    gap: 1.5rem;
    text-align: start;
    opacity: 0;
    transition: 1.8s ease;
    animation: navMenu-2 .3s linear forwards .5s;
    z-index: -1;
}

.list-link {
    color: var(--main-color);
    font-size: 1.3rem;
    padding: .5rem;
    transition: .4s ease;
    position: relative;
}

.list-link::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    bottom: -.4rem;
    right: -2rem;
    border-radius: 20px;
    opacity: 0;
    background-color: var(--main-color);
    transition: .2s ease-in;
}

.list-link:hover::after {
    right: 70%;
    opacity: 1;
}

.nav-animation {
    animation: navMenu-1 .3s linear forwards .5s;
}



/* making the loading */

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    transition: aall ease-in;
}

.animation {
    stroke-width: 2.5px;
    animation: logo-shape 2s linear forwards;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
}

.img-b {
    position: absolute;
    left: 14px;
    top: 7px;
    opacity: 0;
    transition: .4s ease-in;
    animation: img-b-animtion .5s linear forwards 2s;
}

.logo-after-animtion {
    animation: logo-after-animtion 1s forwards linear .5s;
}