.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 10;
    transition: .4s ease-in;
}

.header-on-scroll {
    top: -4.5rem;
}

.nav-container {
    height: 4rem;
    padding: 1rem;
    display: grid;
}


.toggle {
    width: 40px;
    height: 40px;
    display: grid;
    gap: .4rem;
    justify-items: center;
    justify-self: end;
    cursor: pointer;
    transition: .3s ease;
    transition: .3s ease-in;
    z-index: var(--togglr-fixed);
    scale: 0;
    opacity: 0;
}

.toggle-on-loading {
    scale: 1;
    opacity: 1;
}

.toggle .bars:nth-child(1)::before,
.toggle .bars:nth-child(3)::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: -.5px;
    background-color: var(--green);
    transition: .4s ease;
}

.toggle:hover .bars:nth-child(1)::before,
.toggle:hover .bars:nth-child(3)::before {
    width: 100%;
    transition: .3s ease;
    border-radius: 15px;
}

.toggle .bars:nth-child(2)::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    left: -.5px;
    border-radius: 15px;
    background-color: var(--green);
    transition: .4s ease;
}

.toggle:hover .bars:nth-child(2)::before {
    width: 100%;
    transition: .3s ease;
}

.bars {
    width: 100%;
    height: 4px;
    border-radius: 15px;
    background-color: var(--lightest-slate);
    transform: rotate(-45deg);
    transition: 1s ease;
}

.bars:nth-child(1) {
    width: 20px;
    transform: rotate(-45deg) translate(-8px);
}

.bars:nth-child(2) {
    transform: rotateY(173deg) rotate(45deg);
}

.bars:nth-child(3) {
    width: 20px;
    transform: rotate(-45deg) translate(8px);
}


.toggle-out .bars:nth-child(1),
.toggle-out .bars:nth-child(3) {
    transform: rotate(-45deg) translateX(100px);
}

.toggle-out .bars:nth-child(2) {
    animation: middle-toggle-go .4s linear forwards;
}


.tra-container {
    pointer-events: none;
    position: fixed;
    display: grid;
    transform: rotate(-40deg) translateX(-60px) translateY(-280px);
}

.traingle {
    width: 1000px;
    height: 220px;
    transition: .5s ease-in;
    pointer-events: none;
}

.colory {
    background-color: var(--green);
}

.traingle:nth-child(1) {
    transform: translateY(-280px);
}

.traingle:nth-child(2) {
    height: 0;
}

.tra-in .tra-container {
    pointer-events: all;
}

.tra-in .traingle {
    background-color: var(--light-navy);
    z-index: 10;
}

.traingle:nth-child(3) {
    transform: translateY(380px);
}

.tra-in .traingle:nth-child(1) {
    transform: translateY(1px);
}

.tra-in .traingle:nth-child(2) {
    height: 220px;
}

.tra-in .traingle:nth-child(3) {
    transform: translateY(-1px);
}

.toggle-two {
    position: absolute;
    right: 1rem;
    top: 1.3rem;
    width: 40px;
    height: 40px;
    display: grid;
    gap: 0.5rem;
    pointer-events: none;
    cursor: pointer;
    transition: .3s ease;
    z-index: var(--togglr-fixed);
}

.toggle-two:hover .bars-two {
    background-color: var(--green);
}

.bars-two {
    width: 100%;
    height: 4px;
    background-color: var(--blue);
    transform: translateY(-5px) rotate(-45deg) translateX(80px);
    transition: 1.5s;
    border-radius: 15px;
    z-index: -1;
}

.tra-in .toggle-two {
    pointer-events: all;
}

.bars-two:nth-child(1) {
    transform: rotate(45deg) translateY(10px) translateX(-79px);
}

.tra-in .bars-two {
    transform: translateY(-10px) rotate(-45deg);
}

.tra-in .bars-two:nth-child(1) {
    transform: rotate(45deg) translateY(10px) translateX(10px);
}

.nav-menu {
    display: grid;
    gap: 1.5rem;
    text-align: start;
    margin-left: 2rem;
    margin-top: 6rem;
    opacity: 0;
    transition: 1.8s ease;
    pointer-events: none;
    animation: navMenu-1 .3s linear forwards;
}

.tra-in .nav-menu {
    pointer-events: all;
}

.list-link {
    color: var(--lightest-slate);
    font-size: 1.3rem;
    padding: .5rem;
    transition: .4s ease;
    position: relative;
}

.list-link::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 5px;
    bottom: -.4rem;
    right: -2rem;
    border-radius: 20px;
    opacity: 0;
    background-color: var(--green);
    transition: .2s ease-in;
}

.list-link:hover::after {
    right: 70%;
    opacity: 1;
}

.nav-animation {
    animation: navMenu-2 .3s linear forwards .5s;
}


/* making the loading */

.loading {
    position: absolute;
    left: 50%;
    top: 15rem;
    transform: translate(-50%);
    transition: aall ease-in;
}

.logo {
    margin-top: -.2rem;
}

.loading-off {
    pointer-events: none;
    z-index: -2;
}

.logo {
    opacity: 0;
    scale: .8;
}

.loader,
.logo {
    color: var(--green);
}

.logo-char {
    opacity: 0;
    animation: img-b-animtion .5s linear forwards 2s;
}

.logo-shape {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
    animation: logo-shape 1s linear forwards .5s;
}

.animation {
    animation: loader .3s linear forwards 2.5s;
}

.logo-after-animtion {
    animation: logo-after-animtion .5s forwards linear 1.2s;

}

.theme-icon {
    position: fixed;
    right: .5rem;
    bottom: -14rem;
    cursor: pointer;
    transition: .4s ease-in;
}

.theme-toggle svg,
.sun,
.sun-dots,
#moon-mask>circle {
    transition: .3s ease-in;
}

.theme-toggle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    background: transparent;
    scale: .8;
    opacity: 0;
}

.theme-toggle svg {
    stroke-linecap: round;
    stroke-width: 1.5px;
    fill: var(--lightest-slate);
    stroke: var(--lightest-slate);
}

.theme-toggle svg:hover {
    fill: var(--green);
    stroke: var(--green);
}

.dark {
    scale: 1;
    opacity: 1;
}

.dark .sun-and-moon {
    animation: sun-moona .5s forwards linear;
}

.dark .sun {
    animation: suna .5s forwards linear;
}

.dark .sun-dots {
    animation: sun-dotsa .4s forwards linear;
}

.dark #moon-mask>circle {
    animation: mask-circlea .4s forwards linear;
}

/* after click on the theme butn*/

.light .sun-and-moon {
    animation: sun-moonb .3s forwards linear;
}

.light .sun {
    fill: var(--second-white-color);
    stroke: var(--second-white-color);
    animation: sunb .3s forwards linear;
}

.light .sun-dots {
    animation: sun-dotsb .3s forwards;
}

.light #moon-mask>circle {
    animation: mask-circleb .25s forwards linear .4s;
}

.light #moon-mask>rect {
    fill: var(--second-white-color);
}