/*
        HOME SECTION
*/
/*======================== HOME TEXT ========================*/
.home-contianer {
    height: 90vh;
    padding-top: 6rem;
    /* padding-bottom: 0; */
}

.home-title {
    opacity: 0;
    scale: .7;
    margin-bottom: 2rem;
}

.home-title::before,
.home-title::after {
    content: '<h1>';
    font-family: var(--second-fontsize);
    color: var(--green);
    font-size: 1rem;
    position: absolute;
    margin-top: -2rem;
    margin-left: -.5rem;
    scale: .3;
    opacity: 0;
    transition: all .4s ease-in;
}

.home-title::after {
    content: '</h1>';
    margin-top: .5rem;
}

.home-title div {
    display: flex;
    align-items: center;
}

.home-title-animation {
    animation: home-title-animation .5s forwards linear;
}

.home-title-animation::before,
.home-title-animation::after {
    animation: tags-animation .4s forwards linear .6s;
}

.letter {
    font-family: monospace, monospace;
    font-size: 2rem;
    font-weight: 900;
    transition: all .3s ease;
    opacity: 0;
    scale: .5;
}


.letter:hover {
    display: inline-block;
    cursor: text;
    color: var(--green);
}

.letter-a {
    margin-right: .2rem;
    transform: rotate(-100deg);
    opacity: 0;
    scale: .8;
}

.home-subtitle {
    margin: 3rem 0 2rem;
    opacity: 0;
    scale: .7;
    font-size: 1rem;
    font-weight: 700;
    color: var(--slate);
}

.home-subtitle::after,
.home-subtitle::before {
    content: '<p>';
    font-family: var(--second-fontsize);
    color: var(--green);
    font-size: 1rem;
    position: absolute;
    margin-top: -1.2rem;
    margin-left: -.5rem;
    scale: .3;
    opacity: 0;
    transition: all .4s ease-in;
}

.home-subtitle::after {
    content: '</p>';
    margin-top: 1.4rem;
    left: 0;
}

.home-subtitle-animation::before,
.home-subtitle-animation::after {
    animation: tags-animation .4s forwards linear 1s;
}

.button {
    display: block;
    position: relative;
    margin: -1rem 0;
}

.home-button {
    position: absolute;
    color: var(--green);
    padding: .4rem .6rem;
    border: 2px solid var(--green);
    opacity: 0;
    scale: .7;
    overflow: hidden;
    transition: .4s ease-in;
}

.home-button::after {
    content: '';
    position: absolute;
    width: 0;
    height: 50px;
    top: -10px;
    left: -20px;
    background-color: var(--green);
    transform: skew(-50deg);
    transition: .4s ease-in;
    overflow: hidden;
    z-index: -1;
}


.home-button:hover::after {
    width: 150px;
}

.home-button.home-button-animation:hover {
    color: var(--dark-navy);
}

.home-title-animation .letter-a {
    animation: img-a .2s forwards linear 1.3s;
}

.home-button-animation {
    animation: button .4s linear forwards 1s;
}

.scloll-down {
    margin-top: 10rem;
    cursor: pointer;
    transition: .4s ease-in;
    position: fixed;
    /* overflow: hidden; */
    left: -5rem;
    opacity: 0;
    scale: .2rem;
}

.scroll-animation {
    position: relative;
    display: flex;
    align-items: center;
    width: 100px;
    gap: .5rem;
    font-size: .6rem;
    font-weight: 700;
}

.scloll-down.show-scroll svg,
.stick {
    scale: 1;
    transform: rotate(0) translate(0);
}

.scloll-down svg {
    scale: .5;
    transform: rotate(-70deg) translate(-50px);
    transition: .4s ease-in;
}

.finger,
.arrow {
    transition: .4s ease-in;
}

.circle,
.stick,
.head {
    opacity: 0;
    z-index: -1;
}

.circle {
    position: absolute;
}

.scloll-down .finger {
    animation: finger 3s infinite linear;
}

.circle {
    animation: circlee 2.9s infinite linear .1s;
}

.stick {
    animation: stick 2.9s infinite linear .1s;
}

.head {
    animation: head 2.9s infinite linear .1s;
}

.show-scroll {
    left: initial;
    opacity: 1;
    scale: 1;
}